@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* src/styles/globals.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #005bb5;
}

#header{
  /* background-color: #222; */
  position:fixed;
  width: 100%;
  top:0;
}
#header div{
  display:flex;
  margin:0 auto;
  padding: 10px 0;
  align-items:center;
}


#header nav a {
  /* color: #fff; */
  text-decoration: none;
}

#header nav a:hover {
  text-decoration: underline;
}
#header nav ul{
  display:flex;
  gap: 10px;
  justify-content: end;
  text-align:right;
}

body main{
  margin-top: 100px;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}